@import url('https://fonts.googleapis.com/css?family=Helvetica:100,300,400,500,700');
* {padding: 0; margin: 0; box-sizing: border-box; font-family: 'Helvetica', sans-serif;}

.spectate{
	border-radius: 10px;
	position: absolute;
	color: #fff;
	background-color: #202020;
	min-width: 700px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;

}
.settings{
	border-radius: 10px;
	position: absolute;
	color: #fff;
	background-color: #202020;
	min-width: 400px;
	top: 47%;
	left: 80%;
	transform: translate(-50%, -80%);
	display: none;

}

.spectate .banner {
	width:100%;
    max-width:728px;
	height: 100%;
	max-height: 90px;
}

#description_upload {
	margin-top: 10px;
	margin-left: 20px;
	font-weight: 400;
}


.spectate .header{
	background-color: #282828;
	padding: 5px;
	width: 100%;
}

.header h2{
	display: inline-block;
	font-size: 20px;
}

.header #close{
	float: right;
	vertical-align: middle;
	position: relative;
	top: 4px;
	color: #f03a17;
	font-size: 20px;
	margin-left: 20px;
	cursor: pointer;
}

.spectate .users{
	padding: 5px;
	max-height: 700px;
    overflow: auto;

}


.user{
	padding: 6px 5px;
	font-weight: bold;
	font-size: 18px;
}



.user .user-name{
	margin-left: 15px;
}



.user .user-actions{
	float: right;
	position: relative;
	bottom: 1px;
}


button{
	background-color: rgba(240, 23, 23, 0.507);
	color: #fff;
	padding: 3px 10px;
	outline: none;
	border: none;
	cursor: pointer;
	min-width: 49px;
}